<div class="grid">
	<div class="col-12">
        <p-toast></p-toast>
		<div class="card">
			<h5>Les offres spéciales</h5>
			<p-dataView #dv [value]="specialOffers" [paginator]="true" [rows]="9" filterBy="message" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
				<ng-template pTemplate="header">
					<div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
						<button pButton pRipple label="Nouveau" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewDialog()"></button>
                        <span class="p-input-icon-left mb-2 md:mb-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Rechercher..." (input)="onFilter(dv, $event)">
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
					</div>
				</ng-template>

				<ng-template let-specialOffer pTemplate="listItem">
					<div class="col-12">
						<div class="offer-card flex flex-column md:flex-row align-items-center p-3 w-full">
							<img [src]="'assets/demo/images/galleria/offer.png'" [alt]="utilService.toDatetimeFr(specialOffer.launchDate)" class="my-4 md:my-0 w-9 md:w-10rem shadow-2 mr-5"/>
							<div class="flex-1 text-center md:text-left">
								<div class="font-bold text-xl" style="color: rgb(14, 116, 119); margin-bottom: 1%;">{{utilService.toDatetimeFr(specialOffer.launchDate)}}</div>
								<div class="mb-3">{{specialOffer.message}}</div>
								<div class="flex align-items-center mt-2">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">par {{specialOffer.sender.name}} {{specialOffer.sender.firstname}}</span>
								</div>
							</div>
							<div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
								<!-- <span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
							</div>
						</div>
					</div>
				</ng-template>

				<ng-template let-specialOffer pTemplate="gridItem">
					<div class="col-12 md:col-4">
						<div class="offer-card card m-3 border-1 surface-border">
							<div class="flex align-items-center justify-content-between">
								<div class="flex align-items-center">
									<i class="pi pi-tag mr-2"></i>
									<span class="font-semibold">par {{specialOffer.sender.name}} {{specialOffer.sender.firstname}}</span>
								</div>
							</div>
							<div class="text-center">
								<img [src]="'assets/demo/images/galleria/offer.png'" [alt]="utilService.toDatetimeFr(specialOffer.launchDate)" class="w-9 shadow-0 my-3 mx-0"/>
								<div class="text-xl font-bold" style="color: rgb(14, 116, 119); margin-bottom: 5%;">{{utilService.toDatetimeFr(specialOffer.launchDate)}}</div>
								<div class="mb-3">{{specialOffer.message}}</div>
								<!-- <span [class]="'sm:ml-2 product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span> -->
							</div>
						</div>
					</div>
				</ng-template>
			</p-dataView>
		</div>

        <p-dialog [(visible)]="newDialog" [style]="{width: '500px'}" header="Nouvel offre spéciale" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="text-center">
                    <img [src]="'assets/demo/images/galleria/offer.png'" [alt]="'Special offer'" class="w-5 shadow-0 my-10 mx-0">
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="firstname">Date de lancement</label>
                        <input pInputText id="launchDate" type="datetime-local" [(ngModel)]="specialOffer.launchDate">
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="firstname">Date d'expiration</label>
                        <input pInputText id="expirationDate" type="datetime-local" [(ngModel)]="specialOffer.expirationDate">
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="dateOfBirth">Message</label>
                        <textarea pInputText id="message" [(ngModel)]="specialOffer.message"></textarea>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveSpecialOffer()"></button>
            </ng-template>
        </p-dialog>

	</div>
</div>

