<style>
    .p-sidebar-right {
        top: 0;
        right: 0;
        width: 35rem;
        height: 100%;
    }
</style>
<div class="grid justify-content-center">
    <div class="col-6">

        <div class="card">
            <div class="">
                <div class="font-medium text-3xl text-900 mb-3">Service choisie</div>

                <div class="text-500 mb-5">
                    <ng-container *ngIf="servicesFilled.length>0"> <button (click)="saveNoPay()" pButton pRipple
                            label="Payer">
                            <i class="pi pi-check"></i></button></ng-container>
                </div>
                <img src="/assets/demo/images/services.jpg" *ngIf="servicesFilled.length==0" width="90%" height="90%" />
                <ul class="list-none p-0 m-0">
                    <!-- <ng-template let-a="getDistinct(servicesFilled)"></ng-template> -->
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border "
                        *ngFor="let service of showService">

                        <ng-container *ngIf="getCurrence(service)>= 1">
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                {{getObjectService(service).name}}</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"> <img
                                    src="{{getObjectService(service).illustration}}" class="shadow-4" width="50px"
                                    height="50px"></div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                {{utilService.format(getObjectService(service).price)}} Ar</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1" style="padding:4px">  x ({{getCurrence(service)}})
                            </div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                {{formattAr(dot(getObjectService(service).price,getCurrence(service)))}}

                            </div>



                            <div class="w-6 md:w-2 flex justify-content-end">
                                <button pButton pRipple label="" (click)="trashService(service)" icon="pi pi-trash"
                                    class="p-button-text"></button>
                            </div>
                        </ng-container>
                    </li>
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border "
                        *ngIf="servicesFilled.length>0">
                        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                        </div>
                        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"> Total</div>
                        <div class="text-900 w-full md:w-10 md:flex-order-0 flex-order-1">

                        </div>

                        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                            {{utilService.format(total)}} Ar
                        </div>

                        <div class="w-6 md:w-2 flex justify-content-end">

                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <div class="col-6">
        <p-calendar [(ngModel)]="date" [inline]="true" [showTime]="true" [required]="true">
            <ng-template pTemplate="header">
                <div class="text-center">
                    <h2> Date de rendez-vous</h2>

                </div>
                <div class="text" style="float:right;">
                    <h3><button (click)="display=true" pButton pRipple label="Reservez" class="p-button-success">
                        </button></h3>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">

            </ng-template>
        </p-calendar>
    </div>
    <p-sidebar [(visible)]="display" styleClass="w-30rem" position="right" [baseZIndex]="10000">
        <h3 style="font-weight:normal">{{utilService.toDatetimeFr(utilService.getRealDate2( date))}}</h3>
        <div>
            <p-dataView #dv [value]="allServices" [rows]="6" filterBy="name" layout="grid">
                <ng-template pTemplate="header">
                    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                        <span class="p-input-icon-left mb-2 md:mb-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Trouvez vos services ideal"
                                (input)="onFilter(dv, $event)">
                        </span>

                    </div>
                </ng-template>


                <ng-template let-service pTemplate="gridItem">
                    <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d);cursor:pointer;" (click)="saveService(service)" >
                        <div class="my-5">
                            <img src="{{service.illustration}}"  [alt]="service.name"
                                class="shadow-4" width="80px" height="80px" />
                        </div>
                        <div>
                            <h5 class="mb-1">{{service.name}}</h5>
                            <h6 class="mt-0 mb-3">{{utilService.format(service.price)}}Ar </h6>

                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </p-sidebar>


    <p-dialog [(visible)]="visiblePay" [style]="{width: '450px'}" header="Espacement de paiement" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <h5 class="ng-dirty ng-invalid">Rendez vous le {{utilService.toDatetimeFr(utilService.getRealDate2( date))}}</h5>

            <div class="field">
                <h4 class="ng-dirty ng-invalid">A payer: {{utilService.format(total)}} Ar</h4>
                <h4 class="ng-dirty ng-invalid">Solde actuel :{{(state)}} Ar</h4>
                <!-- <input type="number" pInputText id="amount" [(ngModel)]="amount" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' :  !amount}" value="{{total}}" /> -->

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <!-- <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button> -->
            <button pButton pRipple label="Payer" icon="pi pi-check" class="btn btn-primary" (click)="pay()"></button>
        </ng-template>
    </p-dialog>

</div>
