<div class="grid justify-content-center">
    <div class="col-5">
        <div class="card">
            <div class="">
                <div class="font-medium text-3xl text-900 mb-3">Service choisie</div>
                <div class="text-500 mb-5"> <button (click)="saveNoPay()"  pButton pRipple label="Je prends">
                    <i class="pi pi-check"></i></button></div>
                <img src="/assets/demo/images/services.jpg" *ngIf="servicesFilled.length==0" width="90%" height="90%" />
                <ul class="list-none p-0 m-0">
                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border "
                        *ngFor="let service of servicesFilled">

                        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{service.name}}</div>
                        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"> <img
                                src="{{service.illustration}}" class="shadow-4" width="50px" height="50px"></div>
                        <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{service.price}}</div>
                        <div class="w-6 md:w-2 flex justify-content-end">
                            <button pButton pRipple label="Edit" (click)="trashService(service)" icon="pi pi-trash"
                                class="p-button-text"></button>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <div class="col-5">
        <p-calendar [showButtonBar]="true" [(ngModel)]="date" [inline]="true" [showWeek]="true" [showTime]="true"
            [required]="true" (click)="choose()">
            <ng-template pTemplate="header">
                <div class="text-center">
                    <h2> Date de rendez-vous</h2>
                </div>
            </ng-template>
        </p-calendar>
    </div>

    <p-dialog header="{{date}}" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '60vw'}"
        [breakpoints]="{'960px': '75vw'}">
        <p-dataView #dv [value]="allServices" [rows]="9" filterBy="name" layout="grid">
            <ng-template pTemplate="header">
                <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                    <span class="p-input-icon-left mb-2 md:mb-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Trouvez vos services ideal"
                            (input)="onFilter(dv, $event)">
                    </span>

                </div>
            </ng-template>


            <ng-template let-service pTemplate="gridItem">
                <div class="border-round m-2 text-center p-2" style="border: 1px solid var(--surface-d)">
                    <div class="my-5">
                        <img src="{{service.illustration}}" [alt]="service.name" class="shadow-4" width="175px"
                            height="175px" />
                    </div>
                    <div>
                        <h5 class="mb-1">{{service.name}}</h5>
                        <h6 class="mt-0 mb-3">${{service.price}}</h6>

                        <div class="my-5">
                            <!-- <button pButton pRipple icon="pi pi-search" class="mr-2 p-button-rounded"></button> -->
                            <button pButton pRipple icon="pi pi-shopping-bag"
                                class="mr-2 p-button-rounded p-button-secondary"
                                (click)="saveService(service)"></button>

                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
        <ng-template pTemplate="footer">
            <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="visiblePay" [style]="{width: '450px'}" header="Espacement de paiement" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">

            <div class="field">
                <label for="description">Amount</label>
                <h4 class="ng-dirty ng-invalid">{{total}} Ar</h4>
                <h4 class="ng-dirty ng-invalid">{{state}} Ar</h4>
                <!-- <input type="number" pInputText id="amount" [(ngModel)]="amount" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' :  !amount}" value="{{total}}" /> -->

            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <!-- <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button> -->
            <button pButton pRipple label="Payer"  icon="pi pi-check" class="btn btn-primary" (click)="pay()"></button>
        </ng-template>
    </p-dialog>

</div>
