#zone_drop {
    height: 500px;
    width: 500px;
    overflow: scroll;
    border-color: red;
    background-color: greenyellow;
}
#card_drop{
// background: none;
// background: linear-gradient(
//     0deg,
//     rgba(255, 255, 255, 0.2),
//     rgba(255, 255, 255, 0.2)
// ),
// radial-gradient(
//     77.36% 256.97% at 77.36% 57.52%,
//     #eeefaf 0%,
//     #c3e3fa 100%
// );
display: flex !important;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
border-style: none;
gap: 30px;
}
