<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <!-- <div class="col-12 mt-5 xl:mt-0 text-center">
            <img src="assets/layout/images/logo.png" alt="Sakai logo" class="mb-5" height="100">
        </div> -->
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <img src="assets/layout/images/logo.png" alt="Image" height="130" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3" style="margin-top: -5%;">Beauty Salon</div>
                    <span class="text-600 font-medium">Veuillez remplir le formulaire ci-dessous pour créer un compte</span>
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label htmlFor="name">Nom</label>
                            <input pInputText id="name" type="text" />
                        </div>
                        <div class="field col-12 md:col-6">
                            <label htmlFor="firstname">Prénoms</label>
                            <input pInputText id="firstname" type="text" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="dateOfBirth">Date de naissance</label>
                            <input pInputText id="dateOfBirth" type="date" />
                        </div>

                        <div class="field col-12 md:col-3">
                            <label htmlFor="sex">Sexe</label>
                            <p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="selectedState"></p-dropdown>
                        </div>

                        <div class="field col-12 md:col-5">
                            <label htmlFor="firstname2">Adresse</label>
                            <input pInputText id="firstname2" type="text" />
                        </div>

                        <div class="field col-12 md:col-6">
                            <label htmlFor="email">Email</label>
                            <input pInputText id="email" type="text" />
                        </div>

                        <div class="field col-12 md:col-6">
                            <label htmlFor="phoneNumber">Téléphone</label>
                            <input pInputText id="phoneNumber" type="text" />
                        </div>

                        <div class="field col-12 md:col-6">
                            <label htmlFor="password">Mot de passe</label>
                            <input pInputText id="password" type="password" />
                        </div>

                        <div class="field col-12 md:col-6">
                            <label htmlFor="confirmationPassword">Confirmation du mot de passe</label>
                            <input pPassword id="confirmationPassword" type="password" />
                        </div>
                    </div>
                    <button pButton pRipple label="S'inscrire" class="w-full p-3 text-xl"></button>
                </div>
                <div class="text-center mb-5" style="margin-top: 5%;">
                    <a (click)="router.navigate(['/'])" class="font-medium no-underline ml-2 text-center cursor-pointer" style="color: var(--primary-color)">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>
