    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Chiffre d'affaires</span>
                        <div class="text-900 font-medium text-xl">{{utilService.format(totalAmount.sales)}} Ar</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Dépense</span>
                        <div class="text-900 font-medium text-xl">{{utilService.format(totalAmount.expenses)}} Ar</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Bénéfice</span>
                        <div class="text-900 font-medium text-xl">{{utilService.format(totalAmount.profits)}} Ar</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Chiffre d'affaire: <b>{{utilService.format(dailySales)}} Ar </b> </span>
                        <p-calendar (ngModelChange)="getDailySales($event)" [(ngModel)]="date" ></p-calendar>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 xl:col-1"></div>
        <div class="col-12 xl:col-9">
            <div class="card">
                <h5>Bilan financier mensuel</h5>
                <div class="col-12 xl:col-2" style="margin-bottom: 3%; margin-top: 3%;">
                    <p-calendar view="year" dateFormat="yy" [(ngModel)]="year" (ngModelChange)="initChart()" ></p-calendar>

                </div>
                <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>
        </div>
        <div class="col-12 xl:col-1"></div>
</div>

