<div class="surface-0  justify-content-center">
    <div id="home" class="landing-wrapper overflow-hidden">
        <app-header></app-header>
        <div id="hero" class="grid py-4 px-4 lg:px-8 relative">
            <div class="mx-4 md:mx-8 mt-0 md:mt-4">
                <i>
                    <h2 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block"><b>Nova Beauty </b></span></h2>
                </i>
                <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Votre destination pour une beauté radieuse. Laissez-nous sublimer votre éclat... </p>
                <button pButton pRipple type="button" label="Prendre un rendez-vous"
                    class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white"
                    (click)="router.navigate(['/appointment'], {fragment: 'home'})"></button>
            </div>
            <img src="assets/layout/images/cover_photo_4.png" height="700" alt="" class="sm:mt-5 md:mt-0"
                style="right:5%;">
        </div>

        <div id="features" class="py-4 px-4 lg:px-8 mt-5 mx-0 lg:mx-8">
            <div class="grid justify-content-center">
                <div class="col-12 text-center mt-8 mb-4">
                    <h2 class="text-900 font-normal mb-2">Nos services</h2>
                    <span class="text-600 text-2xl">Nova Beauty vous propose une liste complète de service...</span>
                </div>
                <div class="col-12">

                    <p-carousel [value]="services" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="carouselResponsiveOptions" [autoplayInterval]="3000">
                        <ng-template let-service pTemplate="item">
                            <div class="my-5" style="background-image: url('assets/demo/images/landing/services/{{service.image}}'); background-size: cover; height: 350px; width: 350px;">
                                <!-- <img src="assets/demo/images/landing/services/{{service.image}}" alt="service" class="shadow-4" height="300"/> -->
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>

        <div id="highlights" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
            <div class="text-center">
                <h2 class="text-900 font-normal mb-2">Réservez votre moment de beauté dès aujourd'hui</h2>
                <span class="text-600 text-2xl">Offrez-vous le luxe d'une beauté exceptionnelle chez Nova Beauty. Réservez dès maintenant votre rendez-vous et laissez-nous transformer votre vision de la beauté en réalité...</span>
            </div>

            <div class="grid mt-8 pb-2 md:pb-8">
                <div class="flex justify-content-center col-12 lg:col-6 bg-purple-100 p-0 flex-order-1 lg:flex-order-0"
                    style="border-radius:8px;">
                    <img src="assets/demo/images/landing/employee.png" class="w-11" alt="pack mariage">
                </div>

                <div class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
                    <div class="flex align-items-center justify-content-center bg-purple-200 align-self-center lg:align-self-end"
                        style="width:4.2rem; height:4.2rem; border-radius: 10px;">
                        <i class="pi pi-fw pi-users text-5xl text-purple-700"></i>
                    </div>
                    <h2 class="line-height-1 text-900 text-4xl font-normal">Des professionnels passionnés</h2>
                    <span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">Rencontrez notre équipe d'experts en beauté, véritables artisans dévoués à vous offrir le meilleur. De nos coiffeurs créatifs à nos esthéticiennes expérimentées, chaque membre de notre équipe est choisi pour sa passion, son talent et son engagement envers votre satisfaction.</span>
                </div>
            </div>

            <div class="grid my-8 pt-2 md:pt-8">
                <div class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start">
                    <div class="flex align-items-center justify-content-center bg-yellow-200 align-self-center lg:align-self-start"
                        style="width:4.2rem; height:4.2rem; border-radius:10px;">
                        <i class="pi pi-fw pi-home text-5xl text-yellow-700"></i>
                    </div>
                    <h2 class="line-height-1 text-900 text-4xl font-normal">Un sanctuaire de détente et de luxe</h2>
                    <span class="text-700 text-2xl line-height-3 mr-0 md:mr-2" style="max-width:650px;">Dès que vous franchissez nos portes, vous entrez dans un monde de calme et de luxe. Notre salon, imprégné d'une ambiance apaisante et d'une esthétique élégante, vous offre un refuge où vous pouvez vous détendre et vous ressourcer.</span>
                </div>

                <div class="flex justify-content-end flex-order-1 sm:flex-order-2 col-12 lg:col-6 p-0"
                    style="border-radius:8px;">
                    <img src="assets/demo/images/landing/place.jpg" class="w-11" alt="relooking">
                </div>
            </div>

            <div class="grid mt-8 pb-2 md:pb-8">
                <div class="flex justify-content-center col-12 lg:col-6 bg-purple-100 p-0 flex-order-1 lg:flex-order-0"
                    style="border-radius:8px;">
                    <img src="assets/demo/images/landing/product.webp" class="w-11" alt="pack mariage">
                </div>

                <div class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
                    <div class="flex align-items-center justify-content-center bg-purple-200 align-self-center lg:align-self-end"
                        style="width:4.2rem; height:4.2rem; border-radius: 10px;">
                        <i class="pi pi-fw pi-star text-5xl text-purple-700"></i>
                    </div>
                    <h2 class="line-height-1 text-900 text-4xl font-normal">Une éthique de qualité et de bienveillance</h2>
                    <span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">Chez Nova Beauty, nous croyons en l'utilisation de produits de qualité et respectueux de l'environnement. Nous nous engageons à vous fournir des soins qui nourrissent à la fois votre peau et votre âme, dans le respect de notre planète.</span>
                </div>
            </div>
        </div>

        <div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
            <div class="grid justify-content-between">
                <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
                    <a (click)="router.navigate(['/pages/landing'], {fragment: 'home'})"
                        class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
                        <img src="assets/layout/images/logo.png" alt="footer sections" height="200" class="mr-2">
                        <h4 class="font-medium text-3xl text-900" style="margin-top: -10%;">Nova Beauty</h4>
                    </a>
                </div>

                <div class="col-12 md:col-10 lg:col-7">
                    <div class="grid text-center md:text-left">
                        <div class="col-12 md:col-3">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">À Propos</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Notre Équipe</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Témoignages de Clients</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Contactez-Nous</a>
                        </div>

                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Nos Produits</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Produits Capillaires</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Soins de la Peau</a>
                            <a class="line-height-3 text-xl block cursor-pointer text-700">Maquillage et Accessoires</a>
                        </div>

                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Ressources</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Blog</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Conseils de Beauté</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Offres Spéciales </a>
                        </div>

                        <div class="col-12 md:col-3 mt-4 md:mt-0">
                            <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Suivez-Nous</h4>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Facebook</a>
                            <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Instagram</a>
                            <a class="line-height-3 text-xl block cursor-pointer text-700">Twitter</a>
                            <a class="line-height-3 text-xl block cursor-pointer text-700">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>

            <p>Rajerison Lalaina Nancia & Randriamifidy Dina Valisoa</p>
        </div>
    </div>
</div>
