<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <style>
        #features {
            background: linear-gradient(
                    0deg,
                    #f1f2f3 ,
                    #e7eaec
                ),
                radial-gradient(
                    77.36% 256.97% at 77.36% 57.52%,
                    #eeefaf 0%,
                    #c3e3fa 100%
                );

        }
    </style>
    <div id="features" class="layout-main-container">
        <div  id="features"class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
</div>
