<div class="col-12">
    <p-toast></p-toast>
    <div class="col-2"></div>
<div class="card col-8" style="text-align: center;">
    <h5>Rechargement de votre compte</h5>
    <p>Montant actuel:(<mark>{{actualAmount}}</mark>) </p>
    <div class="grid p-fluid mt-3">
        <div class="field col-12 md:col-2"></div>
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <p-inputNumber inputId="inputnumber" [(ngModel)]="amount"></p-inputNumber>
                <label for="inputnumber">Montant de rechargement</label>
            </span>
        </div>
        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <button pButton pRipple label="Payer" icon="pi pi-check" class="btn btn-primary" (click)="pay()"></button>
            </span>
        </div>


    </div>
</div>
<div class="col-2"></div>
<list-account [moves]="moves" [credit]="credit" [debit]="debit" ></list-account>
</div>
